{% extends "base.html" %}
{% block title %}
    Product Detail
{% endblock title %}
{% load static %}
{% block content %}
<section class="single-product">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<ol class="breadcrumb">
					<li><a href="{%url 'home'%}">Home</a></li>
					<li><a href="{%url 'shop'%}">Shop</a></li>
					<li class="active">{{product.title}}</li>
				</ol>
			</div>
			<div class="col-md-6">
				<ol class="product-pagination text-right">
					<li><a href="blog-left-sidebar.html"><i class="tf-ion-ios-arrow-left"></i> Next </a></li>
					<li><a href="blog-left-sidebar.html">Preview <i class="tf-ion-ios-arrow-right"></i></a></li>
				</ol>
			</div>
		</div>
		<div class="row mt-20">
			<div class="col-md-5">
				<div class="single-product-slider">
					<div id='carousel-custom' class='carousel slide' data-ride='carousel'>
						<div class='carousel-outer'>
							<!-- me art lab slider -->
							<div class='carousel-inner '>
								<div class='item active'>
									<img src='{{product.image.url}}' alt='' data-zoom-image="{{product.image.url}}" />
								</div>
                                
                                {% for image in images %}
								<div class='item'>
									<img src='{{image.image.url}}' alt='' data-zoom-image="{{image.image.url}}" />
								</div>
                                {% endfor %}

								
							</div>
							
							<!-- sag sol -->
							<a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
								<i class="tf-ion-ios-arrow-left"></i>
							</a>
							<a class='right carousel-control' href='#carousel-custom' data-slide='next'>
								<i class="tf-ion-ios-arrow-right"></i>
							</a>
						</div>
						
						<!-- thumb -->
						<ol class='carousel-indicators mCustomScrollbar meartlab'>
							<li data-target='#carousel-custom' data-slide-to='0' class='active'>
								<img src='{{product.image.url}}' alt='' />
							</li>
                            
                            {% for image in images %}
                            <li data-target='#carousel-custom' data-slide-to='1'>
								<img src='{{image.image.url}}'/>
							</li>
                            {% endfor %}
                                


						</ol>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="single-product-details">
					<h2>{{product.title}}</h2>
					<p class="product-price">${{product.price}}</p>
					
					<p class="product-description mt-20">
						{{product.description}}
					</p>
			
					<!-- <div class="color-swatches">
						<span>color:</span>
						<ul>
							<li>
								<a href="#!" class="swatch-violet"></a>
							</li>
							<li>
								<a href="#!" class="swatch-black"></a>
							</li>
							<li>
								<a href="#!" class="swatch-cream"></a>
							</li>
						</ul>
					</div> -->
					<div class="product-size">
						<span>Size:</span>
						<select class="form-control">
							<option>S</option>
							<option>M</option>
							<option>L</option>
							<option>XL</option>
						</select>
					</div>
					<div class="product-category">
						<span>Categories:</span>
						<ul>
							<li><a href="product-single.html">{{product.category}}</a></li>

						</ul>
					</div>
					<form method="post" action="{%url 'add_to_cart' product.id%}">
						{% csrf_token %}
						<div class="product-quantity">
							<span>Quantity:</span>
							<div class="product-quantity-slider">
								<input id="product-quantity" type="number" value="1" name="quantity" min="1" max="{{product.amount}}">
							</div>
						</div>
						<input type="submit" value="Add to cart" class="btn btn-main mt-20">
					</form>



				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="tabCommon mt-20">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">Details</a></li>
						<li class=""><a data-toggle="tab" href="#reviews" aria-expanded="false">Reviews ({{number_of_comments}})</a></li>
					</ul>
					<div class="tab-content patternbg">
						<div id="details" class="tab-pane fade active in">
							<h4>{{product.title}} Details</h4>
							<div>
								<p>
									{{product.details | safe}}
								</p>
							</div>
						</div>
						<div id="reviews" class="tab-pane fade">
							<div class="post-comments">
						    	<ul class="media-list comments-list m-bot-50 clearlist">
								    <!-- Comment Item start-->
									
									{% for comment in comments %}
									<li class="media">

								        <a class="pull-left" href="#!">
								            <img class="media-object comment-avatar" src="{{comment.user.image.url}}" alt="" width="50" height="50" />
								        </a>

								        <div class="media-body">
								            <div class="comment-info">
								                <h4 class="comment-author">
								                    <a href="#!">{{comment.user.full_name}}</a>
								                	
								                </h4>
								                <time datetime="2013-04-06T13:53">{{comment.created_at}}</time>
								            </div>

								            <p>
								               {{comment.comment}}
								            </p>
								        </div>
										

								    </li>
									{% endfor %}
										

								    <!-- End Comment Item -->
									
									{% if user.is_authenticated %}
									<form action="{%url 'add_comment' product.id%}" method="POST">
										{% csrf_token %}
										<div class="mb-3">
											<label for="exampleFormControlTextarea1" class="form-label">Your review matters:</label>
											<textarea class="form-control input" id="exampleFormControlTextarea1" rows="5" name = "comment" style="resize:none;"></textarea>
											<br>
											<input type="submit" class = "btn btn-main btn-medium" value="Submit">
										  </div>
									</form>

									  {% else %}
									  <h4>You must be logged in order to post a review.</h4>
									{% endif %}
										

							</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="products related-products section">
	<div class="container">
		<div class="row">
			<div class="title text-center">
				<h2>Related Products</h2>
			</div>
		</div>
		<div class="row">
			
			{% for product in related_products %}
			<div class="col-md-3">
				<div class="product-item">
					<div class="product-thumb">
						{% if product.sale == 'True' %}
							<span class="bage">Sale</span>
						{% endif %}
						
						<img class="img-responsive" src="{{product.image.url}}" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<a href="{%url 'add_to_cart' product.id%}"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="{%url 'product' product.id%}">{{product.title}}</a></h4>
						<p class="price">${{product.price}}0</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock content %}
